Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github urls
  entry: github.*\.git
  language: pygrep

Add cfn-python-lint
  all-repos.yaml
Due: no-github-dot-git

Deployed 547 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add thoughtworks/talisman
  all-repos.yaml
Due: no-github-dot-git

Deployed 548 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add bandit to list of hook repos
  all-repos.yaml
Due: no-github-dot-git

Deployed 551 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add miki725/importanize
  all-repos.yaml
Due: no-github-dot-git

Deployed 554 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add PyCQA/flake8
  all-repos.yaml
Due: no-github-dot-git

Deployed 557 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add dockerfilelint hook for others.
  all-repos.yaml
Due: no-github-dot-git

Deployed 559 to Github Pages
  all-hooks.json
  hooks.html
  index.html
Due: none

Switch willthames/ansible-lint ansible/ansible-lint
  all-repos.yaml
Due: no-github-dot-git

Deployed 561 to Github Pages
  all-hooks.json
  hooks.html
  index.html
  node_modules/bootstrap-sass/package.json
Due: none

Update index.mako
  index.mako
Due: none

Deployed 564 to Github Pages
  all-hooks.json
  index.html
Due: none

Add jinjalint
  all-repos.yaml
Due: no-github-dot-git

Deployed 567 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Update docs to include the alias parameter.
  index.mako
Due: none

Address review comments
  index.mako
Due: none

Deployed 570 to Github Pages
  all-hooks.json
  index.html
Due: none

Use pygments-pre-commit to highlight docs
  index.mako
  requirements-dev.txt
  scss/main.scss
Due: scss-lint

Deployed 573 to Github Pages
  build/main.css
  index.html
Due: none

Add milin/giticket
  all-repos.yaml
Due: no-github-dot-git

Deployed 576 to Github Pages
  all-hooks.json
  hooks.html
  node_modules/bootstrap-sass/package.json
Due: none

Add PyCQA/pydocstyle
  all-repos.yaml
Due: no-github-dot-git

Deployed 579 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Swap mirrors for official PyCQA repos
  all-repos.yaml
Due: no-github-dot-git

Deployed 581 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add https://github.com/sqlalchemyorg/zimports
  all-repos.yaml
Due: no-github-dot-git

Deployed 584 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Updates for pre-commit 1.14
  index.mako
  requirements-dev.txt
Due: none

Deployed 587 to Github Pages
  index.html
Due: none

Responsive tables
  index.mako
  scss/main.scss
Due: scss-lint

Deployed 588 to Github Pages
  build/main.css
  index.html
Due: none

This did nothing, oops
  scss/main.scss
Due: scss-lint

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Deployed 589 to Github Pages
  build/main.css
Due: none

Use merged version
  requirements-dev.txt
Due: none

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
